MarkupSafe
jinja2
tornado
py
pyzmq
ipython-genutils
decorator
six
traitlets
jupyter-core
python-dateutil
jupyter-client
attrs
pyrsistent
jsonschema
nbformat
mistune
pygments
entrypoints
webencodings
bleach
pandocfilters
testpath
defusedxml
nbconvert
parso
jedi
pickleshare
wcwidth
prompt-toolkit
backcall
ptyprocess
pexpect
ipython
ipykernel
Send2Trash
terminado
prometheus-client
notebook
qtconsole
jupyter-console
widgetsnbextension
ipywidgets
pytz
cycler
kiwisolver
pyparsing
jupyter
numpy
pandas
matplotlib